*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
}
main{
    height: 100vh;
    display: flex;
}
section{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 700px;
    height: 350px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px;
}
.sedans h1{
    color: hsl(0, 0%, 95%);
    margin: 20px;
}
.sedans p{
    margin-left: 20px;
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
}
.sedans-button{
margin-bottom: 20px;
margin-left: 20px;
border: none;
border-radius: 15px;
width: 100px;
color:hsl(31, 77%, 52%) ;
height: 30px;
}
.sedans-button:hover{
   background-color: hsl(31, 77%, 52%);
   color: hsl(0, 0%, 95%); 
   border:1px solid white ;
   cursor: pointer;
}
.sedans img{
    margin: 20px;
    
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
}
.suvs h1{
    color: hsl(0, 0%, 95%);
    margin: 20px;
}
.suvs p{
    margin-left: 20px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    margin-bottom: 60px;
}
.suvs-button{
margin-bottom: 20px;
margin-left: 20px;
border: none;
border-radius: 15px;
width: 100px;
color:hsl(184, 100%, 22%) ;
height: 30px;
}
.suvs-button:hover{
   background-color: hsl(184, 100%, 22%);
   color: hsl(0, 0%, 95%); 
   border:1px solid white ;
   cursor: pointer;
}
.suvs img{
    margin: 20px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
}
.luxury h1{
    color: hsl(0, 0%, 95%);
    margin: 20px;
}
.luxury p{
    margin-left: 20px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    margin-bottom:45px ;
}
.luxury-button{
margin-bottom: 20px;
margin-left: 20px;
border: none;
border-radius: 15px;
width: 100px;
color:hsl(179, 100%, 13%);
height: 30px;
}
.luxury-button:hover{
   background-color: hsl(179, 100%, 13%);
   color: hsl(0, 0%, 95%); 
   border:1px solid white ;
   cursor: pointer;
}
.luxury img{
    margin: 20px;
}
@media screen and (max-width:375px)  {
    main{
        width: 100%;
    }
    section{
        margin: 0px;
        padding: 20px;
        display: block;
    }   
    .sedans{
        border-radius: 10px 10px 0px 0px;
    }
    
    .luxury{
        border-radius: 0px 0px 10px 10px;
    }
}
